<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to edVator</h1>
        <p class="lead">An online Examination Portal</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About this Application</h2>
                <p class="lead">This is an Online Examination Portal </p>
                <ul>
                    <li>User will be attempting the Tests which are created by Admin.</li>
                    <li>Admin Creates the Tests</li>
                    <li>Test Performance is tracked</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br><br>
